@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#container {
  width: 100%;
  height: 500px;
  font-family: "TAEBAEKmilkyway";
  font-weight: bolder;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background-color: #ffcdd2;
  color: #e57373;
}

nav img {
  width: 20px;
  color: #e57373;
  align-items: center;
}

.nav-right-star {
  padding-bottom: 3px;
}

.nav-left {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-right {
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

aside {
  display: none;
  width: 250px;
  height: 100%;
  background-color: #facece44;
}

.side-bar-arrow img {
  transition: all 0.2s ease-in-out;
}

.side-bar-arrow img:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

.side-bar-btn1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px 5px;
}

.side-bar-cat img {
  width: 50px;
  border-radius: 50%;
  padding: 5px;
}

.side-bar-txt {
  margin-right: 85px;
}

.side-bar-btn2,
.side-bar-btn3,
.side-bar-btn4,
.side-bar-btn5,
.side-bar-btn6 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px 0;
  cursor: pointer;
  background-position: center;
  transition: background 0.8s;
}

aside > div:hover {
  background-color: #ad1457b6;
  color: whitesmoke;
}

aside > div :active {
  background-color: rgba(41, 45, 62, 0);
  background-size: 100%;
  transition: background 0s;
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
